
.A {

    text-align: center;
    font-weight: 800;
      font-family: "Edu NSW ACT Cursive", cursive;


  /* text-decoration-line:; */
    text-decoration-color:burlywood;
    text-shadow: 2px 2px 4px white;
}
    

.B{

    word-spacing: 5px;
    font-weight: 800; 
    font-style: italic;
    font-size: large;
    text-shadow:3px 2px 1px goldenrod;
    padding-top:60px;}

.A{

   /* border-style: ;
    border-width: ;
    border-color: ;*/
    border-radius: 20px ;
    border: 2px solid blue;
    margin: 30px auto;
    padding: 30px;
    width: 850px;
    box-shadow: 30px 20px;
    
}


body{

    background-image:url("work.webp");
    background-repeat:no-repeat;
    background-attachment: fixed;
   /* background-position-x: center;
    background-position-y: center; */
    background-color: darkgray;
    background-size: cover;
    
}





